<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zr.user.mapper.ShopUserMapper">
	<resultMap type="com.zr.user.entity.ShopUser" id="ShopUserMap">
		<result property="pkId" column="PK_ID" jdbcType="INTEGER"/>
		<result property="userId" column="USER_ID" jdbcType="VARCHAR"/>
		<result property="userName" column="USER_NAME" jdbcType="VARCHAR"/>
		<result property="password" column="PASSWORD" jdbcType="VARCHAR"/>
		<result property="createTime" column="CREATE_TIME" jdbcType="TIMESTAMP"/>
		<result property="listTime" column="LIST_TIME" jdbcType="TIMESTAMP"/>
		<result property="delistTime" column="DELIST_TIME" jdbcType="TIMESTAMP"/>
		<result property="modifyTime" column="MODIFY_TIME" jdbcType="TIMESTAMP"/>
		<result property="modifyBy" column="MODIFY_BY" jdbcType="VARCHAR"/>
		<result property="deletedFlag" column="DELETED_FLAG" jdbcType="OTHER"/>
	</resultMap>
</mapper>
